*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
    margin-top: 2em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 7em 2em;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;

    & > * {
        flex-basis: 25%;
        min-width: 15em;
    }
}

.section-title {
    text-align: center;
    font-size: clamp(2rem, calc(5vw + 1em), 4rem);
    line-height: 1;
    color: rgb(40, 65, 94);
    margin-bottom: 5rem;
}

.description {
    margin-top: 2rem;
    color: white;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    color: var(--clr-text, white);
    background: var(--clr-accent, blue);
    border-radius: 0.25em;
    transition: transform 250ms ease-in-out, opacity 175ms linear;
    margin-top: 2rem;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: 0.9;
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(2.5rem, calc(5vw + 1em), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
    color: white;
}

.hero {
    text-align: center;
    padding: 15em 0;
    background-color: #333;
    background-image: url(../image/hero-bg1.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    // background-position: center center;
    

}


.featured {
    background: #eee;
    display: flex;
    justify-content: space-between;

    &__items {
        margin-left: 2em;
        display: block;
        position: relative;
        transform: scale(0.85);
        transition: transform 250ms ease-in-out;

        &:hover,
        &:focus {
            transform: scale(1);
        }
        &::after {
            margin-left: 1em;
            content: "";
            position: absolute;
            left: 25%;
            bottom: 0;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background-color: #ff9e6a;
            border: 15px solid #ffccb1;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

.product {
    background: radial-gradient(var(--clr-inner, rgb(255, 0, 0)), var(--clr-outer, rgb(255, 230, 0)));
    padding: 3em;
    margin-bottom: 3em;
    border-radius: 1em;
    text-align: center;
    --clr-accent: limegreen;

    &__title {
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;

    & > * {
        flex-basis: 25%;
        min-width: 15em;
    }
    .product__image{
        margin: auto;
    }
}
